# Python Standard
__pycache__/
*.py[cod]
.venv/
venv/
.env

# MacOS
.DS_Store

# Crawler Daten & Datenbanken (Nicht hochladen!)
crawler/data/
*.sqlite
*.sqlite-wal
*.sqlite-shm
*.sqlite.bak*

!distribution_packages/
!distribution_packages/**/*.sqlite

# Log-Dateien
*.log*.sqlite
crawler/data/db/
crawler/data/raw/
*.log
